.hombre{
    width: 100%;
    margin: 0 auto;
}
.hombre h1{
    font-size: 1.75rem;
    text-shadow: -1px -1px 1px #aaa,
    0px 4px 1px rgba(0,0,0,0.5),
    4px 4px 5px rgba(0,0,0,0.7),
    0px 0px 7px rgba(0,0,0,0.4);
    text-align: center;
}
.hombre img{
    width: 100%;
}
.box1{
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    
}
.box1 img{
    height: 600px;
    width: 450px;

}

.box2{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
.box2 img{
    height: 400px;
    width: 350px;
}